<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue sample</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <link rel="stylesheet" type="text/css" href="css/login.css"/>
</head>

<body>
  <div style="text-align:center;">
    <div id = "app">
      {{ message }}
    </div>
    
    <script>
      var app = new Vue({
          el: "#app",
          data: {
              message: "ログイン画面"
          }
      })
    </script>
    
    <div class="signup">
      <p>ID</p>
    
      <table class="sign" align="center">
        <tr>
         <td><input type="id" v-model="mailaddress"/></td>
        </tr>
      </table>
    
      <p>パスワード</p>
        
      <table class="sign" align="center">
        <tr>
          <td><input type="password" v-model="password"/></td>
       </tr>
      </table>
       
    </div>
    
    <div id="click">
      <button v-on:click="login">ログイン</button>
    </div>
  </div>

  <script src="js/main.js"></script>
  <script>
    var example1 = new Vue({
    el: '#click',
      data: {
        // ログインを押すとalertが表示される
        login: function() {
          alert("入力してくだい")
        }
      }
    })
  </script>

  <style>

  </style>

</body>
</html>



<!-- ショートカットキー
command + enterで次の行の挿入
command + enter +shift で前の行に挿入 -->

<!-- 検索のあと
command +Gで次へ、
置換操作
OPtion + command +f -->