<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!-- スマホでも大きさが等倍 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue sample</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>
  <div id = "app">
    <h1>{{ message }}</h1>
  </div>

  <div class="signup">
    <p>ID</p>
    <table class="sign" align="center">
      <tr>
        <td><input type="id" v-model="mailaddress"/></td>
      </tr>
    </table>

    <p>パスワード</p>
    <table class="sign" align="center">
      <tr>
        <td><input type="password" v-model="password"/></td>
      </tr>
    </table>
  </div>

  <div id="click">
    <button v-on:click="login">ログイン</button>
  </div>
  

  <script src="js/main.js"></script>
</body>
</html>



<!-- ショートカットキー
command + enterで次の行の挿入
command + enter +shift で前の行に挿入 -->

<!-- 検索のあと
command +Gで次へ、
置換操作
OPtion + command +f -->